@import url('http://fonts.cdnfonts.com/css/bookman-old-style');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    max-width: 100%;
    min-height: 100vh;
    background-image: url(../images/fundo-tela-inicial/Frame-1-1.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
}

#mainNav{
    transition: background 0.4s;
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    padding: 0 3rem;
    transition: 0.3s;
}

.background-nav{
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
}

button{
    all: unset;
}

.button-icon{
    width: 6rem;
    display: flex;
    justify-content: center;
}

.icon-navbar{
    width: 6rem;
    transition: 0.3s;
    height: auto;
}

.a-logo{
    width: min(12rem, 80%);
    display: flex;
    justify-content: center;
}

.logo-nav{
    height: auto;
    width: 100%;
}

.icon-agostiniano{
    transition: 0.3s;
}

.bg-transition {
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    padding:0 5%;
    height: 10vh;
}

.offcanvas{
    max-width: 25vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

element.style{
    transform: translate(0px, 100px);
}

a:hover{
    text-decoration: none;
    color: #000000;
}

a:link {
    text-decoration: none;
}

.form-batismo-link:visited{
    color: #FFFFFF;
}

.list-menu{
    width: 20vw;
}

.list-outline{
    width: 15vw;
    padding-top: 5%;
    border-top: 1px solid #C4C4C4BF;
    border-top-left-radius: 5px;
    opacity: 0.75;
}

.list-outline-dropdown{
    display: flex;
    width: 15vw;
    padding-top: 5%;
    border-top: 1px solid #C4C4C4BF;
    border-top-left-radius: 5px;
    margin-left: 5%;
}

.dropdown-toggle{
    display: flex;
    align-items: center;
    width: 15vw;
    justify-content: space-between;
}

.dropdown-menu{
    border: none;
    max-width: 31.25rem;
    height: 40vh;
    display: flex;
}

.link-menu{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
}

.link-pastorais{
    display: flex;
}

#dropdownMenuButton{
    display: flex;
    align-items: center;
}

.intro-txt{
    width:50vw;
    margin: 5%;
    position: absolute;
    bottom: 40%;
}

#main-txt{
    width: min(600px, 100%);
}

#main-txt-content{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 1.5rem + 4vw, 4rem);   
}

#sub-txt-content{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 1.1rem + 1vw, 2rem);
    margin-top: 5%;
}

.general-container-content{
    width: 100%;
    height: 100;
    padding: 10% 0;
}

.sub-title{
    text-align: center;
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    color: #742134;
    font-size: clamp(1rem, 2rem + 4vw, 5rem);
    margin: 0;
    padding: 1rem;
}

.reze-box{
    margin: 5% 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.reze-item{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    justify-content: center;
    align-items: center;
}

.icon-reze{
    width: min(12rem, 80%);
}

.reze-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #404040;
    font-size: 20px;
    text-align: center;
    margin-top:2%;
}

.acesse{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
    color: #742134;
    text-align: center;
}

.paroquia-sub-title{
    margin-bottom: 0;
}

#paroquia-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#paroquia-img{
    width: 100%;
}

#paroquia-txt-box{
    padding: 5%;
}

.info-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
    padding: 1rem;
}

#address-content{
    display: flex;
    align-items: center;
}

#address{
    margin: 5%;
}

.address-item{
    width: 30vw;
    height: 50vh;
}

#address-txt-box{
    padding: 5%;
}

.footer{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}

.footer-child{
    width: 50%;
    height: 60vh;
    /* padding: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.footer-info{
    margin-right: 15%;
    margin-left: 5%;
}

.footer-item{
    display: flex;
    align-items: center;
    margin: 6% 0;
    width: 100%;
}

.footer-icon{
    width: 4vw;
    /* height: 7vh; */
}

.footer-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin:0 0 0 10%;
}

.footer-nm{
    display: flex;
}

.vertical-line {
    border-left: 4px solid #FFFFFF;
    height: 35vh;
    position: absolute;
    left: 50%;
    margin-top: 3%;
    margin-left: -3px;
    border-radius: 5px;
    top: 0;
}

.logo-nm{
    width: 10vw;
    height: 15vh;
    left: 45.5%;
    bottom: 5%;
    position: absolute;
}

.footer-paroquia{
    display: flex;
    align-items: flex-start;
}

.footer-logo-paroquia{
    width: 20vw;
    /* min-height: 20vh; */
}

.footer-paroquia-txt{
    margin:5% 0 0 0;
}

#social-media-box{
    margin-top: 5%;
}

.social-media{
    margin-right: 2rem;
    font-size:4rem;
    color:rgb(218, 214, 214);
    transition: 0.3s;
}

.facebook:hover{
    color:#7b94c9;
}

.instagram:hover{
    color:#c098af;
}

.whatsapp:hover{
    color: #25d366;
}

.youtube:hover{
    color: #ec3e3e;
}


/* ------ PAROQUIA ------- */

.header-paroquia{
    background-image: url(/images/fotos-para-tela-a-paroquia/fundo-paroquia.png);
}

.intro-paroquia{
    width: 30vw;
    height: 15vh;
    margin: 0%;
    position: absolute;
    bottom: 54%;
    left: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-txt-paroquia{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);
}

.sub-txt-paroquia{
    width: 40vw;
    margin: 3% 0;
}

.sub-txt-paroquia-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5rem + 2vw, 2.25rem);
    letter-spacing: 2.5px;
    width: 100%;
}

#paroquia-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#paroquia-txt-box{
    padding-right: 0;
}

.info-txt-paroquia{
    width: 90%;
}

.frei-item{
    margin:0 7%;
}

.frei-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}

/* ----BATISMO---- */

.header-batismo{
    background-image: url(/images/batismo/fundo-batismo.png);
}

.batismo-img{
    width: 100%;
}

.general-container-batismo{
    padding-top: 0;
}

.info-txt-box-batismo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-txt-batismo{
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
}

.info-txt-box{
    margin-left: 10%;
}

.info-h{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 1.5rem + 2vw, 2.25rem);
}

.form-box{
    margin:0 5% ;
}

.form-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 50vw;
    margin-top: 5%;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
}

.batismo-form{
    display: flex;
}

.batismo-form-item{
    display: flex;
    flex-direction: column;
    margin:5% 30% 0 0;
}

.form-batismo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 25px;
    background-color: #742134;
    padding: 2%;
    text-align: center;
    width: 35vw;
    margin: 5% 0;
    border-radius: 13px;
}

.form-batismo-link:hover{
    color: #FFFFFF;
    background-color: #945463;
    transition: 0.2s;
}

.img-batismo-form{
    width: 25vw;
}

.sub-txt-batismo{
    width: 50vw;
    margin: 3% 0;
}

/* -----CATEQUESE E CRISMA----- */

.header-catequese-crisma{
    background-image: url(/images/catequese-crisma/fundo-catequese-crisma.png);
}

.main-txt-catequese-crisma{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);   
    width: 30vw;
    margin-bottom: 0;
}

.sub-txt-catequese{
    width: 40vw;
    margin:0;
}

.sub-txt-catequese-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5rem + 2vw, 2.25rem);
}

#catequese-img{
    width: 25vw;
}

.info-txt-box-catequese{
    width: 50vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----COROINHAS E CERIMONIARIOS----- */

.header-coroinhas-cerimoniarios{
    background-image: url(/images/coroinhas/fundo.png);
}

.sub-txt-coroinhas-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1.5rem + 2vw, 2.25rem);
}

#coroinha-img{
    width: 100%;
}

/* ---- ENCONTRO DE JOVENS ---- */

.header-encontro-de-jovens{
    background-image: url(/images/jovens/fundo-jovens.png);
}

.main-txt-jovens{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);   
    width: 30vw;
}

#jovens-img{
    width: 25vw;
}

.info-txt-box-jovens{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

/* ---- ENCONTRO DE CASAIS ---- */

.header-encontro-de-casais{
    background-image: url(/images/casais/fundo-casais.png);
}

#casais-img{
    width: 30vw;
}

/* ---- CURSO DE NOIVOS---- */

.header-curso-noivos{
    background-image: url(/images/casamento/fundo-casamento.png);
}

.general-container-content-casamento{
    padding: 10% 5%;
}

#casamento-content{
    display: flex;
    margin-top: 5%;
}

#alianca-img{
    width: 35vw;
    height: 30vh;
}

.info-txt-box-casamento{
    width: 60vw;
    margin: 0;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.ul-curso-noivos{
    padding: 0;
    
}

.li-curso-noivos {
    padding-left: 1em; 
    text-indent: -.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}
  
.li-curso-noivos::before {
    content: "•";
    padding-right:7px;
    color: #742134;
    font-size: 15px;
}

.general-container-content-datas{
    display: flex;
    flex-direction: column;
    padding: 10% 5% 20% 5%;
}

.ul-datas{
    padding: 0;
    margin-top: 2%;
}

.li-datas {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #000000;
}

#datas-content{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#calendario-img{
    width: 18vw;
}

.info-txt-box-datas{
    width: 60vw;
    margin: 0;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.form-box-casamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----DIZIMO----- */

.header-dizimo{
    background-image: url(/images/dizimo/fundo-dizimio.png);
}

.main-txt-dizimo{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);   
    width: 30vw;
}

#dizimo-txt-box{
    padding: 5%;
    width: 55vw;   
}

#dizimo-img{
    width: 25vw;
}

.general-container-content-dizimo{
    padding-top: 0;
    padding-bottom: 15%;
}

.icon-bradesco{
    width: 100%;
    margin-bottom: 10%;
}

.icon-pix{
    width: 100%;
    margin-bottom: 10%;
}

.qr-code{
    width: 15vw;
}

.dizimo-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}

.dizimo-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dizimo-form-item{
    display: flex;
    flex-direction: column;
    margin:5% 15% 0 0;
}

.form-dizimo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #742134;
    padding: 2%;
    text-align: center;
    width: 35vw;
    margin: 3% 0;
    border-radius: 13px;
}

.form-dizimo-link:hover{
    color: #FFFFFF;
    background-color: #945463;
    transition: 0.2s;
}

.form-dizimo-link:visited{
    color: #FFFFFF;
}

.img-cruz{
    width: 35vw;
}

/* ----APOSTOLADO---- */

.header-apostolado{
    background-image: url(/images/apostolado/fundo-apostolado.png);
}

.main-txt-apostolado{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);   
    width: 30vw;
}

/* ----EVENTOS---- */

.bg-eventos{
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    padding:0 5%;
    height: 10vh;
    width: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
}

.icon-navbar-eventos{
    height: 6vh;
    width: 4vw;
}

.logo-nav-eventos{
    height: 10vh;
    width: 6vw;
}

#eventos-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos-img{
    width: 40vw;
    margin: 5% 0;
}

/* ----PADROEIRA---- */

.header-padroeira{
    background-image: url(/images/tela-padroeira/fundo-padroeira.png);
}

#padroeira-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5% 4% 0 4%;
}

.general-container-content-santa{
    padding-top: 0;
}

.main-txt-padroeira{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2rem + 4vw, 4rem);   
    width: 30vw;
}

#santa-rita-img-padroeira{
    width: 40vw;
}

.info-txt-box-padroeira{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.info-txt-padroeira{
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
}

.padroeira-txt-box{
    margin: 0 4%;
}

.padroeira-txt-content{
    margin-bottom: 3%;
}

.padroeira-txt-item{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    font-size: 15px;
}

#logo-santa-rita{
    width: 30vw;
}

#padroeira-content-santa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5% 0 0 0;
}

.info-txt-padroeira-oracao{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
    margin-right: 5%;
}

#santa-rita-desenho{
    width: 40vw;
}

/* -----HORARIOS----- */

#horarios-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h4-matriz{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #742134;
}

.santa-rita-img{
    width: 35vw;
}

.box-img-horario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.img-horario{
    width: 25vw;
}

.toggler-horario{
    position:fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #4d4244 0%, rgba(116, 33, 52, 0) 239.35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.horario-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 60vh;
    padding: 2.5%;
    background-color:#FFFFFF;
    border-radius: 15%;
    
}

.close-horario{
    display: flex;
    align-self: end;
    font-size: 20px;
    color: #742134;
    margin-right: 5%;
    margin-top: 2%;
}

.horario-img{
    width: 7vw;
}

.horario-img-2{
    margin-top: 25%;
}

.horario-title{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    color: #742134;
    font-size: 25px;
    text-align: center;
}

.horario-txt-box-2{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.horario-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    margin-bottom: 4%;
}

@media (max-width:480px)  {

    .offcanvas{
        max-width: 55vw;
    }

    .ul-offcanvas{
        padding: 0;
    }

    .list-menu{
        width: 50vw;
    }

    .list-outline{
        width: 45vw;
        padding: 5%;
    }

    .list-outline-dropdown{
        width: 50vw;
    }

    .intro-txt{
        width:80vw;
    }

    .reze-item{
       margin:5%;     
    }

    #paroquia-content{
        flex-wrap: wrap;
    }

    #address-content{
        margin-top: 10%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .address-item{
        width: 80vw;
        height: 30vh;
    }

    .footer{
        flex-wrap: wrap;
    }

    .footer-info{
        margin: 0 5%;
        width: 70vw;
    }
    
    .footer-icon{
        width: 10vw;
        /* height: 7vh; */
    }

    .vertical-line{
        display: none;
    }

    .footer-logo-paroquia{
        display: none;
    }

    .footer-child{
        width: 70vw;
        height: 80vh;
    }

    .logo-nm{
        bottom: 40%;
        left: 40%;
        width: 25vw;        
    }

    /* -----PAROQUIA---- */

    .intro-paroquia {
        bottom: 60%;
        left: 10%;       
    }

    #batismo-img{
        width: 40vw;
    }

    .info-txt-box {
        margin-left: 0;
    }
    
    .form-txt{
        width: 80vw;
        text-align: center;
        margin-right:0;
        margin:5%;
    }

    .batismo-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .batismo-form-item {
        margin:0;
    }

    .form-batismo-link {
        width: 75vw;  
    }

    .img-batismo-form {
        width: 40vw;
    }

    /* -----CATEQUESE----- */

    #main-txt {
        width: 60vw
    }    

    .main-txt-catequese-crisma {
        width: 60vw;
        margin-bottom: 5%;
    }

    .pastorais-content{
        display: flex;
        flex-direction: column;
    }

    #catequese-img{
        width: 35vw;
    }

    .info-h{
        text-align: center;
    }

    .info-txt-batismo {
        width: 75vw;
    }

    /* ----COROINHA---- */

    #coroinha-img{
        width: 40vw;
    }

    /* ----JOVENS---- */

    .main-txt-jovens {
        width: 60vw;
    }

    #jovens-img{
        width: 40vw;
    }

    /* -----CURSO DE NOIVOS---- */

    .sub-txt-catequese {
        width: 60vw;
    }

    #casamento-content{
        flex-direction: column;
        align-items: center;
    }

    #alianca-img{
        width: 50vw;
    }

    .info-txt-box-casamento {
        width: 80vw;
        margin: 0;
    }

    #datas-content {
        flex-direction: column;
        align-items: center;
    }

    .ul-datas{
        padding: 1rem;
    }

    .info-txt-box-datas {
        width: 80vw;
        margin: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    #calendario-img {
        width: 25vw;
    }

    /* -----ENCONTRO DE CASAIS---- */
    #casais-img{
        width: 40vw;
    }

    /* -----HORARIOS---- */

    .sub-title-horario{
        margin-top: 25%;
    }

    .santa-rita-img {
        width: 65vw;
    }

    /* -----EVENTOS----- */

    .eventos-img {
        width: 90vw;
    }   

    /* -----DIZIMO---- */

    .main-txt-dizimo {
        width: 60vw;
    }

    .sub-txt-paroquia {
        width: 70vw;
    }

    #dizimo-txt-box {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #dizimo-img{
        width: 35vw;
    }

    .icon-bradesco{
        width: 30vw;
    }
    
    .icon-pix{
        width: 30vw;  
    }

    .qr-code {
        width: 45vw;
    }

    .img-cruz{
        width: 40vw;
    }


    /* ----APOSTOLADO---- */

    .main-txt-apostolado {
        width: 80vw;
    }

    #main-txt-title{
        width: 80vw;
    }

    /* -----PADROEIRA---- */

    #padroeira-content {
        flex-direction: column;
    }


    .main-txt-padroeira {
        width: 60vw;
    }

    .padroeira-txt-box {
        margin: 0;
        padding: 0 6%;
    }

    .padroeira-txt-item{
        width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1rem + 2vw, 1.75rem);

    color: #000000;
    text-align: justify;
    padding: 1rem;
    }

    #padroeira-content-santa {
        flex-direction: column;
    }
    
    #logo-santa-rita{
        width: 45vw;
    }

    #santa-rita-desenho{
        width: 45vw;
    }

    /* ----HORARIOS---- */

    .box-img-horario {
        flex-wrap: wrap;
    }

    .img-horario{
        width: 45vw;
        margin: 5% 0;
    }    

    .horario-box {
        width: 90vw;
        height: auto;
    }

    .horario-img {
        width: 25vw;
    }

}