@import url('http://fonts.cdnfonts.com/css/bookman-old-style');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/fundo-tela-inicial/Frame-1-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainNav{
    transition: background 0.4s;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    padding: 5%;
    transition: 0.3s;
}

button{
    all: unset;
}

.icon-navbar{
    width: 5vw;
    height: auto;
    transition: 0.3s;
}

.logo-nav{
    height: 15vh;
    width: 100%;
}

.icon-agostiniano{
    transition: 0.3s;
}

.bg-transition {
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    padding:0 5%;
    height: 10vh;
}

.offcanvas{
    width: 25vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

element.style{
    transform: translate(0px, 100px);
}

a:hover{
    text-decoration: none;
    color: #000000;
}

.list-menu{
    width: 20vw;
}

.list-outline{
    width: 15vw;
    padding-top: 5%;
    border-top: 1px solid #C4C4C4BF;
    border-top-left-radius: 5px;
    opacity: 0.75;
}

.list-outline-dropdown{
    display: flex;
    width: 15vw;
    padding-top: 5%;
    /* border-top: 1px solid #C4C4C4BF;
    border-top-left-radius: 5px; */
    margin-left: 2%;
}

.dropdown-toggle{
    display: flex;
    align-items: center;
    width: 15vw;
    justify-content: space-between;
}

.dropdown-menu{
    border: none;
    width: 100%;
    height: 40vh;
    display: flex;
}

.link-menu{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
}

.link-pastorais{
    display: flex;
}

#dropdownMenuButton{
    display: flex;
    align-items: center;
}

.intro-txt{
    width: 50vw;
    height: 13vh;
    margin: 5%;
    position: absolute;
    bottom: 50%;
}

#main-txt-content{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
}

#sub-txt{
    width: 30vw;
    height: 9vh;
    margin: 3% 0;
}

#sub-txt-content{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.65rem;
}

.general-container-content{
    width: 100%;
    height: 100;
    padding: 10% 0;
}

.sub-title{
    text-align: center;
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    color: #742134;
    font-size: 45px;
    margin: 0;
}

.reze-box{
    margin: 5% 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.reze-item{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    justify-content: center;
    align-items: center;
}

.icon-reze{
    width: 8vw;
    height: 15vh;
}

.reze-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #404040;
    font-size: 20px;
    text-align: center;
}

.acesse{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #742134;
    text-align: center;
}

.paroquia-sub-title{
    margin-bottom: 0;
}

#paroquia-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#paroquia-img{
    width: 60vw;
    height: 55vh;
}

#paroquia-txt-box{
    padding: 5%;
}

.info-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    font-size: 15px;
}

#address-content{
    display: flex;
    align-items: center;
}

#address{
    margin: 5%;
    height: 50vh;
    width: 50vw;
}

#address-txt-box{
    padding: 5%;
}

.footer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}

.footer-child{
    width: 50%;
    height: 60vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info{
    margin-right: 20%;
}

.footer-item{
    display: flex;
    align-items: center;
    margin: 4% 0;
    width: 100%;
    height: 10vh;
}

.footer-icon{
    width: 4vw;
    height: 7vh;
}

.footer-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin:0 0 0 10%;
}

.footer-nm{
    display: flex;

}

.vertical-line {
    border-left: 4px solid #FFFFFF;
    height: 35vh;
    position: absolute;
    left: 50%;
    margin-top: 3%;
    margin-left: -3px;
    border-radius: 5px;
    top: 0;
}

.logo-nm{
    width: 10vw;
    height: 15vh;
    left: 45.5%;
    bottom: 5%;
    position: absolute;
}

.footer-paroquia{
    display: flex;
    align-items: flex-start;
}

.footer-logo-paroquia{
    width: 25vh;
    height: 35vh;
}

.footer-paroquia-txt{
    margin:5% 0 0 0;
}

#social-media-box{
    margin-top: 5%;
}

.social-media{
    margin-right: 2rem;
    font-size:4rem;
    color:rgb(218, 214, 214);
    transition: 0.3s;
}

.facebook:hover{
    color:#7b94c9;
}

.instagram:hover{
    color:#c098af;
}

.whatsapp:hover{
    color: #25d366;
}

.youtube:hover{
    color: #ec3e3e;
}


/* ------ PAROQUIA ------- */

.header-paroquia{
    background-image: url(/images/fotos-para-tela-a-paroquia/fundo-paroquia.png);
}

.intro-paroquia{
    width: 30vw;
    height: 15vh;
    margin: 0%;
    position: absolute;
    bottom: 54%;
    left: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-txt-paroquia{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 65px;
}

.sub-txt-paroquia{
    width: 40vw;
    height: 9vh;
    margin: 3% 0;
}

.sub-txt-paroquia-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.75rem;
    letter-spacing: 2.5px;
    width: 100%;
}

#paroquia-img{
    width: 100%;
    height: 65vh;
}

#paroquia-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#paroquia-txt-box{
    padding-right: 0;
}

.info-txt-paroquia{
    width: 90%;
}

.frei-item{
    margin:0 7%;
}

.frei-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}

/* ----BATISMO---- */

.header-batismo{
    background-image: url(/images/batismo/fundo-batismo.png);
}

.batismo-img{
    width: 100%;
    height: 20vh;
}

.general-container-batismo{
    padding-top: 0;
}

.info-txt-box-batismo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-txt-batismo{
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.info-txt-box{
    margin-left: 10%;
}

.info-h{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.form-box{
    margin:0 5% ;
}

.form-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 50vw;
    margin-top: 5%;
}

.batismo-form{
    display: flex;
}

.batismo-form-item{
    display: flex;
    flex-direction: column;
    margin:5% 30% 0 0;
}

.form-batismo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 25px;
    background-color: #742134;
    padding: 2%;
    text-align: center;
    width: 35vw;
    margin: 5% 0;
    border-radius: 13px;
}

.form-batismo-link:hover{
    color: #FFFFFF;
    background-color: #945463;
    transition: 0.2s;
}

.img-batismo-form{
    height: 40vh;
    width: 25vw;
}

.sub-txt-batismo{
    width: 50vw;
    height: 9vh;
    margin: 3% 0;
}

/* -----CATEQUESE E CRISMA----- */

.header-catequese-crisma{
    background-image: url(/images/catequese-crisma/fundo-catequese-crisma.png);
}

.main-txt-catequese-crisma{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 60px;
    width: 60vw;
    margin-bottom: 0;
}

.sub-txt-catequese{
    width: 40vw;
    height: 9vh;
    margin:0;
}

.sub-txt-catequese-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#catequese-img{
    height: 40vh;
    width: 25vw;
}

.info-txt-box-catequese{
    width: 50vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----COROINHAS E CERIMONIARIOS----- */

.header-coroinhas-cerimoniarios{
    background-image: url(/images/coroinhas/fundo.png);
}

.sub-txt-coroinhas-content{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

#coroinha-img{
    width: 100%;
    height: 60vh;
}

/* ---- ENCONTRO DE JOVENS ---- */

.header-encontro-de-jovens{
    background-image: url(/images/jovens/fundo-jovens.png);
}

.main-txt-jovens{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 65px;
    width: 60vw;
}

#jovens-img{
    width: 25vw;
    height: 45vh;
}

.info-txt-box-jovens{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

/* ---- ENCONTRO DE CASAIS ---- */

.header-encontro-de-casais{
    background-image: url(/images/casais/fundo-casais.png);
}

#casais-img{
    width: 30vw;
    height: 45vh;
}

/* ---- CURSO DE NOIVOS---- */

.header-curso-noivos{
    background-image: url(/images/casamento/fundo-casamento.png);
}

.general-container-content-casamento{
    padding: 10% 5%;
}

#casamento-content{
    display: flex;
    margin-top: 5%;
}

#alianca-img{
    width: 35vw;
    height: 30vh;
}

.info-txt-box-casamento{
    width: 60vw;
    margin: 0;
    /* margin-right: 5%; */
    display: flex;
    flex-direction: column;
}

.ul-curso-noivos{
    padding: 0;
    
}

.li-curso-noivos {
    padding-left: 1em; 
    text-indent: -.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}
  
.li-curso-noivos::before {
    content: "•";
    padding-right:7px;
    color: #742134;
    font-size: 15px;
}

.general-container-content-datas{
    display: flex;
    flex-direction: column;
    padding: 10% 5% 20% 5%;
}

.ul-datas{
    padding: 0;
    margin-top: 2%;
}

.li-datas {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #000000;
}

#datas-content{
    display: flex;
    /* justify-content: center; */
    margin-top: 2%;
}

#calendario-img{
    width: 18vw;
    height: 30vh;
}

.info-txt-box-datas{
    width: 60vw;
    margin: 0;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.form-box-casamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----DIZIMO----- */

.header-dizimo{
    background-image: url(/images/dizimo/fundo-dizimio.png);
}

.main-txt-dizimo{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 65px;
    width: 50vw;
}

#dizimo-txt-box{
    padding: 5%;
    width: 55vw;   
}

#dizimo-img{
    width: 25vw;
    height: 40vh;
}

.general-container-content-dizimo{
    padding-top: 0;
    padding-bottom: 15%;
}

.icon-bradesco{
    width: 100%;
    height: 15vh;
    margin-bottom: 10%;
}

.icon-pix{
    width: 100%;
    height: 15vh;
    margin-bottom: 10%;
}

.qr-code{
    width: 15vw;
    height: 30vh;
}

.dizimo-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}

.dizimo-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dizimo-form-item{
    display: flex;
    flex-direction: column;
    margin:5% 15% 0 0;
}

.form-dizimo-link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #742134;
    padding: 2%;
    text-align: center;
    width: 35vw;
    margin: 3% 0;
    border-radius: 13px;
}

.form-dizimo-link:hover{
    color: #FFFFFF;
    background-color: #945463;
    transition: 0.2s;
}

.img-cruz{
    width: 35vw;
    height: 50vh;
}

/* ----APOSTOLADO---- */

.header-apostolado{
    background-image: url(/images/apostolado/fundo-apostolado.png);
}

.main-txt-apostolado{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 65px;
    width: 60vw;
}

/* ----EVENTOS---- */

.bg-eventos{
    background: linear-gradient(0deg, #742134 0%, rgba(116, 33, 52, 0) 239.35%);
    padding:0 5%;
    height: 10vh;
    width: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    padding:0 5%;
    transition: 0.3s;
}

.icon-navbar-eventos{
    height: 6vh;
    width: 4vw;
}

.logo-nav-eventos{
    height: 10vh;
    width: 6vw;
}

#eventos-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos-img{
    width: 50vw;
    height: 80vh;
    margin: 5% 0;
}

/* ----PADROEIRA---- */

.header-padroeira{
    background-image: url(/images/tela-padroeira/fundo-padroeira.png);
}

#padroeira-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5% 4% 0 4%;
}

.general-container-content-santa{
    padding-top: 0;
}

.main-txt-padroeira{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    font-size: 65px;
    width: 60vw;
}

#santa-rita-img{
    width: 40vw;
    height: 40vh;
}

.info-txt-box-padroeira{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.info-txt-padroeira{
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.padroeira-txt-box{
    margin: 0 4%;
}

.padroeira-txt-content{
    margin-bottom: 3%;
}

.padroeira-txt-item{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    font-size: 15px;
}

#logo-santa-rita{
    width: 30vw;
    height: 40vh;
}

#padroeira-content-santa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5% 0 0 0;
}

.info-txt-padroeira-oracao{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-right: 5%;
}

#santa-rita-desenho{
    width: 40vw;
    height: 60vh;
}

/* -----HORARIOS----- */

#horarios-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h4-matriz{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #742134;
}

.santa-rita-img{
    width: 35vw;
    height: 60vh;
}

.box-img-horario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
}

.img-horario{
    width: 25vw;
    height: 40vh;
}

.toggler-horario{
    position:fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #4d4244 0%, rgba(116, 33, 52, 0) 239.35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.horario-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 60vh;
    padding: 5%;
    background-color:#FFFFFF;
    border-radius: 15%;
    
}

.close-horario{
    display: flex;
    align-self: end;
    font-size: 20px;
    position: absolute;
    bottom: 75%;
    color: #742134;
}

.horario-img{
    width: 7vw;
    height: 10vh;
}

.horario-img-2{
    margin-top: 25%;
}

.horario-title{
    font-family: 'Bookman Old Style', sans-serif;
    font-weight: 600;
    color: #742134;
    font-size: 25px;
    text-align: center;
}

.horario-txt-box-2{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.horario-txt{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    margin-bottom: 4%;
}
